@import url('https://fonts.googleapis.com/css?family=Nunito');

body{
    
    font-family: 'Nunito', Helvetica, Arial, sans-serif;font-size:12px; /*line-height:1.5;font-weight:300;background-color:#fdfdfd*/;
    font-size:12px;
    
    /*width:75%;
    margin:0 auto; */
    
}
